.searchBtn{background-attachment: scroll;
background-clip: border-box;
background-color: rgb(224, 225, 226);
background-image: none;
background-origin: padding-box;
background-position: 0% 0%;
background-position-x: 0%;
background-position-y: 0%;
background-repeat: repeat;
background-size: auto;
border-bottom-color: rgba(0, 0, 0, 0.6);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: none;
border-bottom-width: 5px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgba(0, 0, 0, 0.6);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgba(0, 0, 0, 0.6);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgba(0, 0, 0, 0.6);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: none;
border-top-width: 0px;
box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 1px inset, rgba(34, 36, 38, 0.15) 0px 0px 0px 0px inset;
box-sizing: border-box;
color: rgba(0, 0, 0, 0.6);
cursor: pointer;
display: inline-block;
font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 14px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 3.5px;
margin-top: 0px;
min-height: 14px;
outline-color: rgba(0, 0, 0, 0.6);
outline-style: none;
outline-width: 0px;
overflow: visible;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 11px;
padding-left: 21px;
padding-right: 21px;
padding-top: 11px;
text-align: center;
text-decoration: none;
text-decoration-color: rgba(0, 0, 0, 0.6);
text-decoration-line: none;
text-decoration-style: solid;
text-shadow: none;
text-transform: none;
transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
transition-duration: 0.1s, 0.1s, 0.1s, 0.1s, 0.1s, 0.1s;
transition-property: opacity, background-color, color, box-shadow, background, box-shadow;
transition-timing-function: ease, ease, ease, ease, ease, ease;
user-select: none;
vertical-align: baseline;
-moz-appearance: button;}

.fSelect{
    align-items: stretch;
background-color: rgb(254, 254, 254);
background-image: url("https://assets.scryfall.com/assets/icons/chevron-down-6c9f86828f78ac574dde6176fba53f5f7697efff1b6b1e1d5bc0297c5d332bef.svg");
background-position: calc(100% - 8px) 12px;
background-position-x: calc(100% - 8px);
background-position-y: 12px;
background-repeat: no-repeat;
background-size: auto 40%;
border-bottom-color: rgb(174, 174, 174);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-collapse: collapse;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(174, 174, 174);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(174, 174, 174);
border-right-style: solid;
border-right-width: 1px;
border-spacing: 0px 0px;
border-top-color: rgb(174, 174, 174);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color: rgb(52, 50, 66);
cursor: pointer;
flex-basis: auto;
flex-grow: 0;
flex-shrink: 0;
font-family: -apple-system;
font-size: 16px;
font-weight: 400;
height: 38px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 5px;
margin-top: 0px;
max-width: 420px;
outline-color: rgb(52, 50, 66);
outline-style: none;
outline-width: 0px;
padding-bottom: 8px;
padding-left: 10px;
padding-right: 30px;
padding-top: 8px;
text-decoration: none;
text-decoration-color: rgb(52, 50, 66);
text-decoration-line: none;
text-decoration-style: solid;
transition-delay: 0s, 0s, 0s, 0s;
transition-duration: 0.06s, 0.06s, 0.06s, 0.06s;
transition-property: background-color, border-color, box-shadow, box-shadow;
transition-timing-function: linear, linear, linear, linear;
width: 170.7px;
-moz-appearance: none;
-moz-box-align: stretch;
-moz-box-flex: 0;
border-radius: 3px;
}

.nameSearch{
    -ms-text-align-last: center;
    border-bottom-color: rgb(60, 64, 67);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(60, 64, 67);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(60, 64, 67);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(60, 64, 67);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(60, 64, 67);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(60, 64, 67);
    outline-style: none;
    outline-width: 0px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    height: 38px;
    width: 170px;
    padding: 15px;
    margin-block-end: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: rgb(232, 234, 237);
}

.filterBtns{
    display: flex;
    justify-content: center;
}